.item {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__headline {
    margin: 0;
  }

  &__price {
    display: block;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: right;
  }
}
