<section class="item">
  <div>
    <h2 class="item__headline">Tarif Name</h2>
  </div>
  <div>
    <app-traffic-status
      [type]="'download'"
      [speed]="12"
      ></app-traffic-status>
      <app-traffic-status
      [type]="'upload'"
      [speed]="6"
    ></app-traffic-status>
  </div>
  <div>
    <ul>
      <li>Benefit 1</li>
      <li>Benefit 2</li>
      <li>Benefit 3</li>
    </ul>
  </div>
  <div class="item__cta">
    <span class="item__price">123,20€</span>
    <button>Zum Tarif</button>
  </div>
</section>
