.item {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem 1.5rem 3rem;
  position: relative;

  &__id {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 2rem;

    @media only screen and (min-width: 650px) {
      border-right: 1px solid black;
    }
  }

  &__benefits {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__button {
    @media only screen and (max-width: 650px) {
      padding: 0.5rem 1rem;
    }

    &::after {
      content: ">";

      @media only screen and (min-width: 650px) {
        margin-left: 1rem;
      }
    }

    span {
      @media only screen and (max-width: 650px) {
        display: none;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__headline {
    margin: 0;

    @media only screen and (max-width: 650px) {
      font-size: medium;
    }
  }

  &__price {
    display: block;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: right;
    
    @media only screen and (min-width: 650px) {
      font-size: x-large;
    }
  }
}
