<section class="item">
  <div class="item__id">{{ tariff.id }}</div>
  <div>
    <h2 class="item__headline">{{ tariff.name }}</h2>
  </div>
  <div>
    <app-traffic-status
      [type]="'download'"
      [speed]="tariff.downloadSpeed"
      ></app-traffic-status>
      <app-traffic-status
      [type]="'upload'"
      [speed]="tariff.uploadSpeed"
    ></app-traffic-status>
  </div>
  <div class="item__benefits">
    <ul>
      <li *ngFor="let benefit of tariff.benefits">
        {{ benefit }}
      </li>
    </ul>
  </div>
  <div class="item__cta">
    <span class="item__price">{{ tariff.price.toFixed(2) }}€</span>
    <button class="item__button">
      <span>Zum Tarif</span>
    </button>
  </div>
</section>
